<div class="menu">
    <a class="{% if request.resolver_match.url_name == 'main' %} menu-item active
        {% else %} menu-item
    {% endif %}" href="{% url 'main' %}">домой</a>

    <a class="{% if request.resolver_match.url_name == 'products' %} menu-item active
        {% else %} menu-item
    {% endif %}" href="{% url 'products:index' %}">продукты</a>

    <a class="{% if request.resolver_match.url_name == 'contact' %} menu-item active
        {% else %} menu-item
    {% endif %}" href="{% url 'contact' %}">контакты</a>

    <a href="{% url 'basket:view' %}" class="basket">
      <span>
        {% if basket %}
          {{ basket.0.total_cost|floatformat:0 }} руб
          ({{ basket.0.total_quantity }} шт)
        {% endif %}
      </span>
    </a>

    {% if user.is_superuser %}
        <li>
          <a href="{% url 'admin_custom:users' %}">админка</a>
        </li>
    {% endif %}
</div>