{% extends 'authapp/base.html' %}
{% load staticfiles %}


{% block content %}
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}"> {{ user.first_name|default:'Пользователь' }} </a>
        </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </li>
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>

{% endblock %}