{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block content %}
<!-- Основное тело сайта -->
    <div class="content">
        <h1 style="font-size: 42px"><strong>Каталог</strong></h1>
        {% for product in same_products %}
            <div>{{ product.name }} ({{ product.category.name }})</div>
            {% if product.image %}
                <img src={{ product.image.url }} />
            {% endif %}
        {% endfor %}
        <!--
        <div class="item">
            <div class="item_pre_img">
                <img src="/static/img/Items/sk01_01.jpg"
                     alt="Фото шкатулка№1"
                     title="Фото шкатулка№1">
            </div>
            <div class="item_href">
                <h4><a href="sk01.html" class="catalog_items">Шкатулка №1</a></h4>
            </div>
        </div>
        <div class="item">
            <div class="item_pre_img">
                <img src="/static/img/Items/sk02_01.jpg"
                     alt="Фото шкатулка№2"
                     title="Фото шкатулка№2">
            </div>
            <div class="item_href">
                <h4><a href="sk02.html" class="catalog_items">Шкатулка №2</a></h4>
            </div>
        </div>
        <div class="item">
            <div class="item_pre_img">
                <img src="/static/img/Items/sk03_01.jpg"
                     alt="Фото шкатулка№3"
                     title="Фото шкатулка№3">
            </div>
            <div class="item_href">
                <h4><a href="sk03.html" class="catalog_items">Шкатулка №3</a></h4>
            </div>
        </div>
        -->
    </div>
{% endblock %}